<div class="container">

  <h2>会員情報編集</h2>

  <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>

  <div class="row">

    <div class="form-group col-md-3">
      <lavel for="inputName">氏名</lavel>
    </div>
    <div class="col-md-9 content-section">
      <%= f.text_field :last_name, autofocus: true, id:"inputName" %>
      <%= f.text_field :first_name, autofocus: true, id:"inputName" %>
  </div>

    <div class="form-group col-md-3">
      <lavel for="inputKanaName">フリガナ</lavel>
    </div>
    <div class="col-md-9 content-section">
        <%= f.text_field :last_name_kana, autofocus: true, id:"inputKanaName" %>
        <%= f.text_field :first_name_kana, autofocus: true, id:"inputKanaName" %>
    </div>

    <div class="form-group col-md-3">
      <lavel for="inputPostalCode">郵便番号</lavel>
    </div>
    <div class="col-md-9 content-section">
        <%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode" %>
    </div>

    <div class="form-group col-md-3">
      <lavel for="inputAddress">住所</lavel>
    </div>
    <div class="col-md-9 content-section">
        <%= f.text_field :address, autofocus: true, id:"inputAddress", size: 80 %>
      </div>

    <div class="form-group col-md-3">
      <lavel for="inputPhoneNumber">電話番号</lavel>
    </div>
    <div class="col-md-9 content-section">
      <%= f.text_field :phone_number, autofocus: true, id:"inputPhoneNumber" %>
  </div>

  <div class="form-group">
    <lavel for="inputEmail">メールアドレス</lavel>
      <%= f.text_field :email, autofocus: true, id:"inputEmail" %>
  </div>
  <%= f.submit '保存' %>


  <%= link_to "退会する", unsubscribe_customers_path, class: 'btn btn-danger' %>

  <% end %>

</div>
