  <div class="container">

    <h2>マイページ</h2>

      <h3><string>登録情報</string></h3> <%= link_to "編集する", edit_information_customers_path, class: 'btn btn-success' %>

      <table class="table">

      <thead class="thead-light">
        <tr>
          <th class="flex-column">氏名</th>
          <th scope="flex-column">カナ</th>
          <th scope="col">郵便番号</th>
          <th scope="col">住所</th>
          <th scope="col">電話番号</th>
          <th scope="col">メールアドレス</th>
        </tr>
      </thead>


      <tbody>
        <tr>
          <th><%= @customer.last_name %><%= @customer.first_name %></th>
          <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
          <th><%= @customer.postal_code %></th>
          <th><%= @customer.address %></th>
          <th><%= @customer.phone_number %></th>
          <th><%= @customer.email %></th>
        </tr>
      </tbody>
    </table>

    <h3><string>配送先</string></h3> <%= link_to "一覧を見る", deliveries_path, class: 'btn btn-primary' %>
    <h3><string>注文履歴</string></h3> <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary' %>

  </div>