<div class="container">
  <h1>商品新規登録</h1>
  <%= form_with model: [:admin, @item], url: admin_items_path do |f| %>
    <p>画像画像
      <%= f.file_field :menu_image, accept: "image/*" %>
    </p>
    <p>商品名
      <%= f.text_field :name %>
    </p>
    <p>商品説明
      <%= f.text_area :description %>
    </p>
    <p>ジャンル
      <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: 'ジャンルを選択してください' %>
    </p>
    <p>税抜価格
      <%= f.text_field :price %>円
    </p>
    <p>
      販売ステータス
      販売中
      <%= f.radio_button :sale_status, true, checked: true %>
      販売停止中
      <%= f.radio_button :sale_status, false %>
    </p>
    <%= f.submit '新規登録',class: 'btn btn-success' %>
  <% end %>
</div>