<div class="container">
  <h1>商品新規登録</h1>
  <%= form_with model: @menus do |f| %>
    <p>画像画像
      <%= f.file_field :image, accept: "image/*" %>
    </p>
    <p>商品名
      <%= f.text_field :name %>
    </p>
    <p>商品説明
      <%= f.text_area :description %>
    </p>
    <p>ジャンル

    </p>
    <p>税抜価格
      <%= f.text_field :price %>
    </p>
    <p>販売ステータス

    </p>
    <%= f.submit '新規登録',class: 'btn btn-success' %>
  <% end %>
</div>