<div class="container">
  <h4 class="mb-5"><span class="bg-light px-3 pb-1">商品詳細</span></h4>
  <div class="row">
    <div class="col-4">
      <%= image_tag @menu.menu_image, size: "300x300" %>
    </div>
    <div class="col-8">
      <table>
        <tr>
          <td width="150" style="padding-bottom: 10px;">商品名</td>
          <td style="padding-bottom: 10px;"><%= @menu.name %></td>
        </tr>
        <tr>
          <td style="padding-bottom: 10px;">商品説明</td>
          <td style="padding-bottom: 10px;"><%= @menu.description %></td>
        </tr>
        <tr>
          <td style="padding-bottom: 10px;">ジャンル</td>
          <td style="padding-bottom: 10px;"><%= @menu.genre.name %></td>
        </tr>
        <tr>
          <td style="padding-bottom: 10px;">税込価格</br>(税抜価格)</td>
          <td style="padding-bottom: 10px;">
            <span style="font-size: 1.2em;">
              <%= number_with_delimiter((@menu.price * 1.1).round, delimiter: ',') %>  (<%= number_with_delimiter(@menu.price, delimiter: ',') %>)円
            </span>
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 10px;">販売ステータス</td>
          <td style="padding-bottom: 10px;">
            <strong style="font-size: 1.2em;">
              <% if @menu.sale_status == true %>
                <%= content_tag :span, '販売中', class: 'text-success' %>
              <% else %>
                <%= '販売停止中' %>
              <% end %>
            </strong>
          </td>
        </tr>
      </table>
      <div class="mt-5">
        <%= link_to "編集する", edit_admin_item_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
