<div class="container">
  <h4><span class="bg-light px-3 pb-1">管理者ログイン</span></h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="mx-auto">
        <table>
          <tr>
            <td style="padding-right: 30px;"><%= f.label :メールアドレス %></td>
            <td style="padding-bottom: 10px;"><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 30px;"><%= f.label :パスワード %></td>
            <td style="padding-bottom: 40px;"><%= f.password_field :password, autocomplete: "current-password", :size=>"40" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>
