<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genres' %>
    </div>
    <div class="col-10">
      <%= image_tag('top2.jpeg', size: "750x400") %>
      <h2 class="mt-5 mb-4">新着商品</h2>
      <div class="row">
        <% @menus.each do |menu| %>
          <div class="col-3">
            <%= link_to item_path(menu.id) do %>
              <%= image_tag menu.menu_image, size: "175x175" %>
              <p class="text-body"><%= menu.name %></p>
              <p class="text-body">¥<%= number_with_delimiter(menu.price, delimiter: ',' ) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "すべての商品を見る >", items_path %>
      </div>
    </div>
  </div>
</div>
