<div class="container">
  <h4><span class="bg-light px-3 py-1"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span></h4>
  <div class="row justify-content-start">
    <div class="col-８">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
      <p>会員ID<%= @customer.id %></p>
      <p>氏名
        <%= content_tag :span, class: 'mr-4' do %>
        <%= f.text_field :last_name %>
        <% end %>
        <%= f.text_field :first_name %>
      </p>
      <p>フリガナ
        <%= content_tag :span, class: 'mr-4' do %>
        <%= f.text_field :last_name_kana %>
        <% end %>
        <%= f.text_field :first_name_kana %>
      </p>
      <p>郵便番号<%= f.text_field :postal_code %></p>
      <p>住所<%= f.text_field :address %></p>
      <p>電話番号<%= f.text_field :phone_number %></p>
      <p>メールアドレス<%= f.text_field :email %></p>
      <p>会員ステータス
        <%= f.radio_button :status, true, checked: true %>
        有効
        <%= f.radio_button :status, false %>
        退会
      </p>
      <%= f.submit '変更を保存',class: 'btn btn-success' %>
      <% end %>
    </div>
</div>