<div class="container">
  <h4><span class="bg-light px-3 py-1">会員一覧</span></h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">フリガナ</th>
        <th scope="col">郵便番号</th>
        <th scope="col">住所</th>
        <th scope="col">電話番号</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">会員ステータス</th>
      </tr>
    </thead>

      <tr>
        <td><%= @customer.id %></td>
        <td>
          <u class="text-body"><%=  @customer.last_name %><%=  @customer.first_name %></u>
        </td>
        <td>
          <u class="text-body"><%=  @customer.last_name_kana %><%=  @customer.first_name_kana %></u>
        </td>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.phone_number %></td>
        <td><%= @customer.email %></td>
        <td>
          <% if @customer.status == true %>
            <%= content_tag :span, '有効', class: 'text-success' %>
          <% else %>
            <%= '退会' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success' %>
        </td>
        <td>
          <%= link_to '注文履歴一覧を見る', admin_path, class: 'btn btn-primary' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
