<h1>配送先編集</h1>

<%= form_with model: @delivery, method: :patch  do |f| %>
  <label for="input_post_address">郵便番号（ハイフンなし）</label>
  <%= f.text_field :post_address, autofocus: true, id:"input_post_address", placeholder:"郵便番号を入力してください"%>

  <label for="input_address">住所</label>
  <%= f.text_area :address, placeholder:"住所を入力してください" %>

  <label for="input_name">名前</label>
  <%= f.text_field :name, placeholder:"名前を入力してください" %>

  <%= f.submit "変更を保存" %>
<% end %>