<div class="container">
  <div class="row">
    <h4 class="bg-light px-3 pb-1"><strong>配送先登録/一覧</strong></h4>
  </div>
  <div class="row">
    <%= form_with model: @delivery_new do |f| %>
    <table>
      <tr>
        <td>郵便番号（ハイフンなし）</td>
        <td style="padding-bottom: 10px;"><%= f.text_field :post_address %></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td style="padding-bottom: 10px;"><%= f.text_field :address,size: "50" %></td>
        <td></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td style="padding-bottom: 10px;"><%= f.text_field :name %></td>
        <td><%= f.submit '新規登録', class: 'btn btn-success' %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <% if @deliveries.present? %>
  <div class="row mt-5">
    <div class="col-8">
    <table class="table table-bordered">
      <tr class="table-secondary">
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </tr>
      <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.post_address %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.name %></td>
        <td>
          <div class="d-inline-flex">
            <%= link_to '編集する', edit_delivery_path(delivery), class: 'btn btn-success btn-sm mr-2' %>
            <%= button_to '削除する', delivery_path(delivery.id), :method=> :delete, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>
  <% else %>
    <div class="row mt-5">
      <div class="col-8">
        <p>配送先が登録されていません。</p>
      </div>
    </div>
  <% end %>
</div>