<div class="container">
  <h3>ジャンル一覧・追加</h3>

  <%= form_with model: [:admin, @genre] do |f| %>
    <p>ジャンル名
    <%= f.text_field :name, placeholder: "ジャンル名" %>
    <%= f.submit "新規登録",class: 'btn btn-success' %>
    </p>
  <% end %>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ジャンル</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>