<h1>ショッピングカート</h1>
<table>
   <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
   </tr>
     <% total = 0 %>　#合計金額totalの初期化

 <% if current_customer.cart_items.present? %>
    <% @cart_items.each do |cart_item| %>
     <tr>
       <td>
         <%= attachment_image_tag(cart_item.menu, :image, size: "60x50", fallback: "no_image.jpg") %> #商品画像
         <%= cart_item.menu.name %> #商品名
       </td>
       <td><%= (cart_item.menu.price*1.1).to_i %></td>　#商品単価(価格×1.1)
       <td>
         <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
           <%= f.number_field :item_quantity, min: 1, max:10, id: "item_quantity_cart" %>
           <%= f.submit "変更",class: "btn btn-success" %> #セレクトboxで数量変更
         <% end %>
       </td>
       <td>
         <% subtotal = ((cart_item.menu.price*cart_item.item_quantity)*1.1).to_i %>　#小計を計算する
         <%= subtotal %> #小計を表示
       </td>
       <td>
         <%= link_to "商品をカートから削除する", cart_item_path(cart_item.id, cart_item), method: :delete,class: "btn btn-danger" %>
       </td>
     </tr>
       <% total += subtotal %>　#アイテムごとに合計金額totalに反映 計算しておく
     <% end %>
<% end %>
   <tr>
    <th>合計金額</th>
    <td><%= total %></td>
   </tr>

  <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,class: "btn btn-danger btn-sm" %>
