<div class="container">
  <div class="row justify-content-between mb-3">
    <h4><span class="bg-light px-3 pb-1">注文情報入力</span></h4>
  </div>
  <div class="row">
    <%= form_with model: @order, url: '/orders/confirm', method: :post, local: true do |f| %>
      <h4><strong>支払方法</strong></h4>
      <div class="ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </div>
      <h4 class="mt-5"><strong>お届け先</strong></h4>
      <div class="ml-5">
        <p><%= f.radio_button :select_delivery, 0, checked: true %>ご自身の住所</p>
        <p class="ml-5">
          〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        </p>
        <p class="mt-4"><%= f.radio_button :select_delivery, 1 %>登録済住所から選択</p>
        <div class="ml-5">
          <%= f.select :address_id, options_from_collection_for_select(Delivery.all, :id, :delivery_display) %>
        </div>
        <p class="mt-4"><%= f.radio_button :select_delivery, 2 %>新しいお届け先</p>
        <table class="ml-5">
          <tr>
            <td style="padding-right: 20px;">郵便番号</td>
            <td style="padding-bottom: 5px;"><%= f.text_field :postcode %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td style="padding-bottom: 5px;"><%= f.text_field :ship_to_address %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :ship_name %></td>
          </tr>
        </table>
        <div class="mt-4">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

