<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genrekensaku' %>
    </div>
    <div class="col-10">
      <h4>商品一覧</h4>
      <div class="row">
        <% if @menus.empty? %>
          <p>該当する商品が見つかりませんでした。</p>
        <% else %>
          <% @menus.each do |menu| %>
            <div class="col-3">
              <%= link_to item_path(menu.id) do %>
                <%= image_tag menu.menu_image, size: "175x175" %>
                <p class="text-body"><%= menu.name %></p>
                <p class="text-body">¥<%= number_with_delimiter(menu.price, delimiter: ',' ) %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @menus, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
