<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genrekensaku' %>
    </div>
    <div class="col-4">
      <%= image_tag @menu.menu_image, size: "300x300" %>
    </div>
    <div class="col-6">
      <h3><strong><%= @menu.name %></strong></h3>
      <h5 class="mt-3"><%= @menu.description %></h5>
      <div class="d-flex mt-5">
        <h4>¥<%= number_with_delimiter((@menu.price * 1.1).round, delimiter: ',') %></h4>
        <p><small class="text-small">（税込）</small></p>
      </div>
      <% if @menu.sale_status == true %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.select :item_quantity, [1,2,3,4,5,6,7,8,9,10],{ include_blank: '　個数選択　'}, class: 'form-control-sm' %>
   　    <%= f.hidden_field :menu_id, :value => @menu.id %>
        <%= f.submit "カートに入れる",class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>