<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class = "navbar navbar">
        <div class= "container">
          <a class= "navbar-brand" href= "public/homes#top"><%= image_tag('logo.png') %></a>


          <div class= "collapse navbar-collapse" id= "navbarNavDropdown">
            <ul class= "navbar-nav">

            <% if %>

            <li class= "nav-item">
              <%= link_to 'マイページ' %>
            </li>

            <li class= "nav-item">
              <%= link_to '商品一覧' %>
            </li>

            <li class= "nav-item">
              <%= link_to 'カート' %>
            </li>

            <li class= "nav-item">
              <%= link_to 'ログアウト' %>
            </li>

            <% else %>

            <li class= "nav-item">
              <%= link_to 'about' %>
            </li>

            <li class= "nav-item">
             <%= link_to '商品一覧' %>
            </li>

            <li class= "nav-item">
              <%= link_to '新規登録' %>
            </li>

            <li class= "nav-item">
              <%= link_to 'ログイン' %>

            </li>

            <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
